* {
  box-sizing: border-box;
}
html {
  /* Heading font*/
  font-family: "Barlow Condensed", sans-serif;
  /* Everything else font */
  /* font-family: "Montserrat", sans-serif;  */
  margin: 0;
}

main {
  background-color: #84a98c;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}
.main-heading {
  margin-bottom: 40px;
}

.container {
  display: flex;
}

.search-input {
  height: 40px;
  width: 400px;
  text-align: center;
  border: black solid 3px;
  border-radius: 8px;
}

.search-button {
  height: 40px;
  width: 70px;
  border: black solid 3px;
  border-radius: 8px;
  margin-left: 10px;
}
